/* Định dạng chung */
html {
    scroll-behavior: smooth; /* This enables smooth scrolling globally */
  }
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("background/background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    transition: opacity 1s ease-in-out;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
body.loaded {
    opacity: 1;
}
body.fade-out .apply-effect {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.info{
    font-size: 40px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
}
main {
    flex: 1;
}
footer{
    font-size: 15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    line-height: 1.0;
    background-color: rgba(255, 216, 119, 0.605);
    padding-top: 15px;
    margin-top: auto;
}
p.paragraph{
    font-size: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: justify;
    text-indent: 50px;
    line-height: 1.5;
    text-align-last: left;
}
img.imgpro{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 30px;
}
img.imgclu{
    margin-left: 350px;
}
.list{
    font-size: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: justify;
    line-height: 1.5;
    word-spacing: -3px;
    text-align-last: left;
    padding: 0;
    margin: 25px;
}
/* Thanh điều hướng */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px;
    color: black;
    position: relative;
}
#scroll{
    display: block; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(76, 159, 184, 0.619); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 10px; /* Rounded corners */
    font-size: 20px; /* Increase font size */
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
#scroll:hover {
    background-color: rgb(76, 159, 184); /* Add a dark-grey background on hover */
  }
/* Logo */
.logo {
    font-size: 20px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    background-color: white;
    padding: 10px;
    border-radius: 100px;
}
.downbut{
    border: none;
    padding: 15px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(251, 229, 138);
    color: white;
    text-shadow: 2px 2px 4px black;
    cursor: pointer;
    margin-left: 20%;
    margin-right: 20%;
    text-wrap:nowrap;
}
.downbut:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
}
/* Danh sách liên kết */
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center; /* Căn giữa các liên kết trong nav */
    flex: 1; /* Cho phép nav-links chiếm không gian có sẵn */
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    opacity: 1;
    display: inline-block;
    background-color: transparent;
}

.nav-links a:hover {
    text-shadow: 0 0 3px #ff0000;
    color: #ff0000;
    background-color: white;
    padding: 10px;
    border-radius: 100px;
    opacity: 0.8;
    transform: scale(1.1); /* Màu khi hover */
}
a.current-page {
    color: #ff0000;
    font-size: 25px;
}

.lang-button, .toggle-button {
    background: none;
    color: black;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    margin-left: 20px;
    font-size: 20px;
}
.toggle-button {
    display:none;
}
.lang-button:hover {
    color: #ff0000;
    transform: scale(1.1);/* Màu khi hover */
}
.projects-titles{
    position: relative;
    font-size: 25px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    display: block;
    z-index: 0;
}
.responsive {
    align-items: center;
    padding: 0 6px;
    float: right;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
div.gallery {
  text-align: center;
  width: 25%;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
div.gallery:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
}
div.gallery img {
    width: 100%;
    height: auto;
    display: block;
}
div.desc {
    padding: 10px;
    text-align: center;
    background-color: white;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
.popup {
    display: flex; /* Ẩn popup ban đầu */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;/* Dành cho các trình duyệt WebKit */
    z-index: 1;
    opacity: 0; /* Ẩn popup */
    visibility: hidden; /* Ẩn phần tử */ 
    transform: scale(0); 
    transition: opacity 0.3s ease, visibility 0s 0.2s;
}

.popup.hide {
    opacity: 0;
    transform: scale(0); /* Ẩn phần tử */ 
    animation-name: dispopupanimate;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
.popup.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1); 
    animation-name: popupanimate;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    background-color: rgba(255, 255, 255, 0.506);
    backdrop-filter: blur(10px); /* Làm mờ nền phía sau */
    -webkit-backdrop-filter: blur(10px); 
}
@keyframes popupanimate {
    0% {
        transform: scale(0); /* Bắt đầu với kích thước nhỏ */
    }
    100% {
        transform: scale(1); /* Phóng to đầy đủ */
    }
}

/* Keyframe animation khi popup tắt */
@keyframes dispopupanimate {
    0% {
        transform: scale(1); /* Bắt đầu với kích thước đầy đủ */
    }
    100% {
        transform: scale(0); /* Thu nhỏ và ẩn */
    }
}
.popup-content {
    position: fixed;
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    height: 80%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    justify-content: center;
    align-items: center;
    display: flex;
    overflow-y: auto;
}

/* Optional: để thay đổi kiểu của thanh cuộn */
.popup-content::-webkit-scrollbar {
    width: 5px;
}

.popup-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.popup-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    float:right;
    font-size: 50px;
    cursor: pointer;
    color:black;
    z-index: 100;
}
.project-info{
    position: relative;
    width: 25%;
    height: auto;
    float: right;
    margin-left: 25px;
    overflow: hidden;
    display:block;
}
.slideshow{
    display:flex;
    align-items: center; 
    justify-content: center;
    float: left;
    width: 75%;
    position: relative;
    overflow: hidden;
}
.slideshow-container {
    width: 100%;
    height: 650px;
    position: relative;
    float: left;
    overflow: hidden;
}
  /* Hide the images by default */
.mySlides {
    align-items: center; 
    justify-content: center;
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.mySlides img {
    width: 100%;
    border-radius: 8px;
    object-fit: fill;
}
  /* Next & previous buttons */
.prev, .next {
    border: none;
    background-color: rgba(128, 128, 128, 0.445);
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev{
    left: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

  
  /* Number text (1/3 etc) */
.numbertext {
    background-color: rgba(116, 116, 116, 0.52);
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
}
.dot-box{
    position: absolute;
    bottom: -25px; /* Khoảng cách từ dưới lên */
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 20; /* Đảm bảo các dot nằm trên ảnh */
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

  
.active, .dot:hover {
    background-color: #717171;
}
  
  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* Nội dung chính */
main {
    padding: 20px;
}

section {
    padding: 50px 0;
    border-bottom: 1px solid #ddd;
}

/* Cho màn hình nhỏ */
@media (max-width: 768px) {
    p.paragraph{
        font-size: 20px;
        text-align: justify;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        text-indent: 25px;
        line-height: 1.5;
    }
    .responsive {
        width: 100%;
        flex-direction: column;
    }
    .list{
        font-size: 20px;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        text-align: justify;
        line-height: 1.5;
        text-align-last: left;
    }
    img {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    img.imgpro{
        margin-left: 0;
        margin-right: 0;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    img.imgclu{
        margin-left: 0;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        position: absolute;
        top: 70px;
        right: 0;
        width: 200px;
        border-radius: 10px;
        gap: 10px;
        padding: 15px;   
        z-index: 2;
        margin-right: 20px;
        transform-origin: right top; 
        opacity: 0; /* Ẩn popup */
        visibility: hidden; /* Ẩn phần tử */ 
        transition: opacity 0.2s ease, visibility 0s 0.2s;
    }
    .nav-links a{
        text-align: left;
        font-size: 20px;
    }
    .toggle-button {
        display: block;
        border-radius: 150px;
        background-color: white;
        border: none;
        color: rgb(0, 0, 0);
        font-size: 20px;
        cursor: pointer;
        align-items: right;
        margin-left:0;
    }
    .nav-links.hide{
        opacity: 0; /* Ẩn popup */
        visibility: hidden; /* Ẩn phần tử */ 
         /* Hiển thị menu khi có class active */
         animation: dispopupanimate 0.3s ease-in-out forwards;
    }
    .nav-links.show{
        opacity: 1; /* Ẩn popup */
        visibility: visible; /* Ẩn phần tử */ 
        /* Hiển thị menu khi có class active */
        animation: popupanimate 0.3s ease-in-out forwards;
   }
    .downbut{
        margin-left: 10%;
    }

    .lang-button {
        margin-left: 0; /* Đặt nút ngôn ngữ sát với menu */
    }
    .navbar {/* Đổi thành cột khi màn hình nhỏ */
        align-items: flex-start; /* Các phần tử căn trái */
    }
    .nav-links a:hover {
        color: inherit; /* Không đổi màu */
        background-color: transparent; /* Không đổi nền */
        padding: 0; /* Không thêm padding */
        border-radius: 0; /* Không border radius */
        opacity: 1;
    }
    div.gallery{
        width: 100%;
    }
    .project-info{
        width: 100%;
        float: left;
        margin-right: 0;
        margin-top: 0;
        align-items: center;
        justify-content: center;
    }
    .slideshow{
        display:flex;
        float: left;
        width: 100%;
        position: relative;
    }
    .slideshow-container {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        float: left;
        overflow: hidden;
    }
    .mySlides{
        width: 100%;
        height: 250px;
    }
    .mySlides img {
        width: 100%;
        border-radius: 8px;
        object-fit: fill;
    }
}
